:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --dark-cyan2: hsl(179, 100%, 13%);
    --trans-white: hsla(0, 0%, 100%, 0.75);
    --light-grey: hsl(0, 0%, 95%);
  }

  body{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: var(--light-grey);
      text-align: center;
      font-size: 15px;
  }

  .container{
      display: flex;
      flex-direction: column;
      width: 75%;
      margin: 10px auto 10px;
      border-radius: 10px;
      text-align: left;
  }

  .card{
      padding: 48px;
      font-family: 'Lexend Deca', sans-serif;
      font-weight: 400;
  }

  .card1{
      background-color: var(--bright-orange);
      border-radius: 10px 10px 0 0;
  }
  .card2{
      background-color: var(--dark-cyan);
  }
  .card3{
      background-color: var(--dark-cyan2);
      border-radius: 0 0 10px 10px;
  }

  .text p{
      color: var(--trans-white);
      margin: 20px auto 70px;
  }

  .btn{
      color: #000;
      background-color: #fff;;
      width: 85%;
      padding: 20px;
      border: 1px solid white;
      border-radius: 30px;
      transition:  all 0.2 ease-in-out;
      font-weight: 700;
      
  }
  .btn1{
      color: var(--bright-orange);
  }
  .btn2{
      color: var(--dark-cyan);
  }
  .btn3{
      color: var(--dark-cyan2);
  }
  .btn:hover{
      color:#fff;
      cursor: pointer;
      background-color: transparent;
  }
  .atrribtion{
      font-size: 11px;
      text-align: center;
  }
  .atrribtion a{
    color: hsl(228, 45%, 44%);
}
  @media only screen and (min-width: 920px){
      .container{
          flex-direction: row;
          margin: 100px auto 20px;
          width: 80%;
      }
      .card1{
          border-radius: 10px 0 0 10px;
      }
      .card3{
          border-radius: 0 10px 10px 0;
      }
  }